body {
    background-color: rgb(240, 231, 231);
    padding: 0 20px;
}

.firstLine{
    height: 60px;
    font-family: "SegoeUI";
    font-size: 12px;
    color: black;
   display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
}

.secondSection{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.secondSection1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exploreHeadline {
    font-size: 14px;
    font-weight: 600;
    font-family: "SegoeUI";
    cursor: pointer;
}
.exploreHeadline:hover {
    text-decoration: underline;
}

.exploreText{
    font-size: 13px;
    font-family: "SegoeUI";
    font-weight: 400;
}

.secondSection2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}