.cardSectionAccelerate {
    width: 48vw;
    background-image: url("https://azurecomcdn.azureedge.net/cvt-cad7fac3bf7704dd3edf38ab5687f27d1848c986b12c81d10269788088b88b09/images/page/home/accelerate-customers-growth.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.card {
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
}
.card {
    color: #4c4c51;
    padding: 24px;
    border: 1px solid transparent;
    position: relative;   
    cursor: pointer;
    height: 300px;
}

.cardText{
    position: absolute;
    bottom: 8%;
} 


.cardText span{
    font-family: "SegoeUI";
    color: #0062ad;;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 12px;
    cursor: pointer;
}
.card:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
}

.card:hover .cardText span {
    text-decoration: underline;
} 
.cardText span:hover {
    color: #002847;
}

.cardText p {
    margin: 12px 0;
    color:#1a1a1f;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "SegoeUI";
}
