.discover{
    padding: 84px 0;
}

.mainTitle {
  color: #1a1a1f;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.discoverCardSection1 {
  display: flex;
  gap: 24px;
  flex-direction: column;
  
  margin: 0;
  padding: 0;
  margin-top: 36px;
  margin-right: 20px;
  padding-left: 15px;
  overflow: hidden;
}

.discoverCarSec1{
  display: flex;
  gap: 30px;
}
.discoverCarSec2{
  display: flex;
  gap: 30px;
}
.disCard{
  width: 21vw;
}

  @media screen and (max-width: 920px){
.discoverCardSection1{
  grid-template-columns: 1fr 1fr 1fr;
}


  }