.exploreAzure {
    background-color: #0078d4;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0 13px 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    font-family: "SegoeUI";
    letter-spacing: 0.5px;
}

.arrow-left {
    height: 20px;
    width: 20px;
}