.exploreAzure {
  background-color: #0078d4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0 13px 0;
  color: #fff;
  font-size: 13px;
}

.exploreAzure a {
  
  text-decoration: none;
}
.exploreAzure span{
    color: #fff;
    font-size: inherit;
      font-weight: 600;
      line-height: 1.5;
      font-family: "SegoeUI";
      letter-spacing: 0.5px;
}
.arrow-left {
  height: 20px;
  width: 20px;
}

.exploreAzure:hover {
  text-decoration: underline;
}

.exploreAzure:hover .arrow-left {
  margin-left: 3px;
}
