.ideasCardSection{
    padding-bottom: 60px;
    width: 73%;
    display: grid;
    column-gap: 30px;
    row-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.psudoPopular{
    display: none;
}

@media screen and (max-width: 767px){
    .ideasCardSection{
        width: 100%;
    }

    .psudoPopular{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        background-color: #fff;
        padding:10px;
    }
    .headline{
        color:#1a1a1f;
    }
}








