.ideasCardSection{
    padding-bottom: 60px;
    width: 73%;
    display: grid;
    column-gap: 30px;
    row-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}