

.screenMain{
    margin-left: 15px;
    
}

.screenImageImg{
    height: 523px;
    border-top:28px;
    border-left:28px;
    border-bottom:28px;
    border-right:0px;
    border-color:black;
    border-style:solid;
    border-radius:12px 0px  0px 12px;
    box-shadow:0 10px 20px rgb(0 0 0 / 14%);
}


.leftArrow{
    width:23px;
    height:16px;
    color:#0062ad;
}

.screenText{
    color:#0062ad;
    font-size:14px;
    line-height: 1.5;
}

.arrowTextSection{
    display: flex;
    align-items: center;
    gap:10px;
    font-family: "SegoeUI";
    max-width: 30ch;
    border: 2px solid transparent;
    width: auto;
    padding: 0 12px 0 40px;
}

.screenImageSection{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:10px;
    cursor:pointer;
    margin-left:35px;
   
   
}

.screenMain:hover{
    width:25%;
}

.screenMain:hover .screenImageSection{
   transition:all .5s ease-in-out;
   /* width:100%; */
   margin:0px;
}

.arrowTextSection1{
    display: none;
}