.cardSectionLast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    padding: 60px 15px;
}

@media screen and (max-width: 920px){
.cardSectionLast{
    grid-template-columns: 1fr;
    row-gap: 20px;
}

}