:root {
    --nav-Color: #1a1a1f;
}


nav { 
     display:flex;
    gap: 13vw;
    align-items: center;
    justify-content: space-between;
    margin: auto;
     padding: 7px 0 7px 12px;
    /* background-color: #56d5ef; */
}
.navSection1{
    display: flex;
    align-items: center;
    gap: 1.9vw;
}

.navSection2 {
    display: flex;
    align-items: center;
    gap: 2.2vw;
}
.navLastSection {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-right: 0.5vw;
}

.icon {
    height: 1.6rem;
    width: 1.5rem;
    margin-right: 1px;
    margin-top: 1px;
    cursor: pointer;
}

.title{
    font-family: "SegoeUI";
    font-size: 18px;
    line-height: 0.5;
    font-weight: 600;
    cursor: pointer;
    color: #1a1a1f;
}

.title:hover{
    text-decoration: underline;
}

.navitems1 {
    display: flex;
    gap: .5vw;
}

.navItems2 {
    display: flex;
    gap: 1.4vw;
}

.fa-angle-right {
    transform: rotate(-90deg);
}


.navItems{
    font-size: 13px;
    font-family: "SegoeUI";
    cursor:pointer;
    white-space: nowrap;
    color: var(--nav-Color);
    opacity: 0.9;
}
.navItems:hover{
    text-decoration: underline;
}

.searchbar {
    width: 120px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    border: 1px solid #747479;
    border-radius: 4px;
    height: 32px;
    box-sizing: border-box;
    margin-bottom: 1px;
    padding-bottom: 2px;
 
}


.search {
    width:90px;
    outline: none;
    border: none;
    background-color: transparent;
    color: #4c4c51;
    font-size: 13px;
    padding-left: 12px;
    min-height: 32px;
    font-family: "SegoeUI";
}
.searchIcon{
    width: 14px;
    height: 14px;
    margin-left: 2px;
}


.closeIcon {
    width: 60px;
    height: 60px;
    color: #747479;
    display: none;
}

.navAccount {
    font-family: "SegoeUI";
    font-size: 12px;
    font-weight: 600;
    height: 32px;
}

.account {
    background-color: #89c402;
    padding: 6px 9px;
    border: 1px solid #6f9e02;
    border-radius: 4px;
    cursor: pointer;
    color: #1a1a1f;
    text-rendering: optimizeLegibility;
}
.account:hover {
    text-decoration: underline;
    background-color: #9bdd02;
}

.signIn {
    font-family: "SegoeUI";
    font-size: 14px;
    cursor: pointer;
    color: var(--nav-Color);
}
.signIn:hover {
    text-decoration: underline;
    
}
